.latest_posts h3 {
    text-align: left;
    margin: 14px 0 25px;
}
.latest_posts {
    padding: 128px 0;
    box-sizing: border-box;
}
.latest_posts h4 {
    max-width: 120px;
    margin: unset;
}
.latest_posts .container {
    display: flex;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    color: #697586;
    max-width: 1280px;
    margin: auto;
    justify-content: space-between;
}

.latest_posts .button {
    padding: 17px 33px;
    box-sizing: border-box;
    border: 1px solid #CDD5DF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #202939;
    margin-top: 98px;
    border-radius: 64px;
    text-decoration: none;
}
.latest_posts .button:hover {
    background-color: #CF4D74;
    color: #FFFFFF;
}
.latest_posts .container article {
    position: relative;
}
.latest_posts article {
    background-color: #F3F5F7;
    border-radius:  16px;
    max-width: 405px;
    box-sizing: border-box;
}
.latest_posts article .description p {
    margin: 7px 0 22px;
}
.latest_posts article .description p:first-child {
    margin: 0;
}
.latest_posts .description {
    padding: 32px 24px;
}
.latest_posts .description p {
    max-width: 317px;
}
.latest_posts .Read_more {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #111827;
    display: flex;
}
.latest_posts a {
    text-decoration: none;
}
.latest_posts article .description .Read_more:after {
    display: inline-block;
    content: "";
    width: 24px;
    background: url("../images/Next_icon.png") no-repeat;
    margin-left: 2px;
    height: 24px;
}
.latest_posts article .headline {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #202939;
    background: none;
}
.latest_posts .descr {
    padding: 4px 12px;
    background: #CF4D74;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    left: 24px;
    top: 24px;
}
.latest_posts .container:first-child {
    margin-bottom: 80px;
}
@media only screen and (max-width: 1024px){
    .latest_posts article {
        max-width: 310px;
    }
    .latest_posts article img {
        max-width: 100%;
    }
    .latest_posts .container {
        padding: 0 16px;
        box-sizing: border-box;
    }
    .latest_posts .description p {
        max-width: 100%;
    }
    .latest_posts .description h4 {
        max-width: 100%;
    }
}

@media only screen and (max-width: 992px){
    .latest_posts article {
        max-width: 300px;
    }
    .latest_posts article img {
        max-width: 100%;
    }
    .latest_posts .container {
        padding: 0 16px;
        box-sizing: border-box;
    }
    .latest_posts .description p {
        max-width: 100%;
    }
    .latest_posts .description h4 {
        max-width: 100%;
    }
}

@media only screen and (max-width: 835px){
    .latest_posts article {
        max-width: 250px;
    }
    .latest_posts article img {
        max-width: 100%;
    }
    .latest_posts .container {
        padding: 0 16px;
        box-sizing: border-box;
    }
    .latest_posts .description p {
        max-width: 100%;
    }
    .latest_posts .description h4 {
        max-width: 100%;
    }
}

@media only screen and (max-width: 820px){
    .latest_posts article {
        max-width: 244px;
    }
    .latest_posts article img {
        max-width: 100%;
    }
    .latest_posts .container {
        padding: 0 16px;
        box-sizing: border-box;
    }
    .latest_posts .description p {
        max-width: 100%;
    }
    .latest_posts .description h4 {
        max-width: 100%;
    }
}
@media only screen and (max-width: 800px){
    .latest_posts article {
        max-width: 240px;
    }
    .latest_posts article img {
        max-width: 100%;
    }
    .latest_posts .container {
        padding: 0 16px;
        box-sizing: border-box;
    }
    .latest_posts .description p {
        max-width: 100%;
    }
    .latest_posts .description h4 {
        max-width: 100%;
    }
}

@media only screen and (max-width: 768px){
    .latest_posts article {
        max-width: 230px;
    }
    .latest_posts article img {
        max-width: 100%;
    }
    .latest_posts .container {
        padding: 0 12px;
        box-sizing: border-box;
    }
    .latest_posts .description p {
        max-width: 100%;
    }
    .latest_posts .description h4 {
        max-width: 100%;
    }
}

@media only screen and (max-width: 428px) {
    .latest_posts .container:first-child p {
        margin-bottom: 24px;
    }
    .latest_posts article {
        max-width: 100%;
    }
    .latest_posts article img {
        max-width: 100%;
    }
    .latest_posts .description p {
        max-width: 100%;
    }
    .latest_posts .description h4 {
        max-width: 100%;
    }
    .latest_posts h3 {
        text-align: center;
        margin: 14px 0 25px;
    }

    .latest_posts .container {
        padding: 0 12px;
        box-sizing: border-box;
    }

    .latest_posts .container {
        display: block;
    }
    .latest_posts .button {
        /*display: flex;*/
        /*margin: 16px 103px;*/
        padding: 9px 25px;
        border-radius: 22px;
        font-size: 14px;
        line-height: 17px;
        margin-right: 0;
    }
    .latest_posts .container:first-child {
        text-align: center;
    }
    .latest_posts .headline-Latest_posts {
        margin: auto;
    }
    .latest_posts article {
        margin-bottom: 24px;
    }
    .latest_posts article:last-child {
        margin-bottom: unset;
    }
    .latest_posts h4 {
        max-width: 120px;
        margin: auto;
    }
}

@media only screen and (max-width: 415px) {
    .latest_posts article {
        max-width: 100%;
    }
    .latest_posts article img {
        max-width: 100%;
    }
    .latest_posts .description p {
        max-width: 100%;
    }
    .latest_posts .description h4 {
        max-width: 100%;
    }

    .latest_posts .container {
        padding: 0 12px;
        box-sizing: border-box;
    }
    .latest_posts .container {
        display: block;
    }
    .latest_posts .button {
        /*display: flex;*/
        /*margin: 16px 103px;*/
        padding: 9px 25px;
        border-radius: 22px;
        font-size: 14px;
        line-height: 17px;
        margin-right: 0;
    }
    .latest_posts .container:first-child {
        text-align: center;
    }
    .latest_posts .headline-Latest_posts {
        margin: auto;
    }
    .latest_posts article {
        margin-bottom: 24px;
    }
    .latest_posts article:last-child {
        margin-bottom: unset;
    }
}

@media only screen and (max-width: 391px) {
    .latest_posts article {
        max-width: 100%;
    }
    .latest_posts article img {
        max-width: 100%;
    }
    .latest_posts .description p {
        max-width: 100%;
    }
    .latest_posts .description h4 {
        max-width: 100%;
    }
    .latest_posts .container {
        padding: 0 12px;
        box-sizing: border-box;
    }

    .latest_posts .container {
        display: block;
    }
    .latest_posts .button {
        /*display: flex;*/
        /*margin: 16px 103px;*/
        padding: 9px 25px;
        border-radius: 22px;
        font-size: 14px;
        line-height: 17px;
        margin-right: 0;
    }
    .latest_posts .container:first-child {
        text-align: center;
    }
    .latest_posts .headline-Latest_posts {
        margin: auto;
    }
    .latest_posts article {
        margin-bottom: 24px;
    }
    .latest_posts article:last-child {
        margin-bottom: unset;
    }
}

@media only screen and (max-width: 376px) {
    .latest_posts article {
        max-width: 100%;
    }
    .latest_posts article img {
        max-width: 100%;
    }
    .latest_posts .description p {
        max-width: 100%;
    }
    .latest_posts .description h4 {
        max-width: 100%;
    }
    .latest_posts .container {
        padding: 0 12px;
        box-sizing: border-box;
    }

    .latest_posts .container {
        display: block;
    }
    .latest_posts .button {
        /*display: flex;*/
        /*margin: 16px 103px;*/
        padding: 9px 25px;
        border-radius: 22px;
        font-size: 14px;
        line-height: 17px;
        margin-right: 0;
    }
    .latest_posts .container:first-child {
        text-align: center;
    }
    .latest_posts .headline-Latest_posts {
        margin: auto;
    }
    .latest_posts article {
        margin-bottom: 24px;
    }
    .latest_posts article:last-child {
        margin-bottom: unset;
    }
}
@media only screen and (max-width: 361px) {
    .latest_posts article {
        max-width: 100%;
    }
    .latest_posts article img {
        max-width: 100%;
    }
    .latest_posts .description p {
        max-width: 100%;
    }
    .latest_posts .description h4 {
        max-width: 100%;
    }
    .latest_posts .container {
        padding: 0 12px;
        box-sizing: border-box;
    }

    .latest_posts .container {
        display: block;
    }
    .latest_posts .button {
        /*display: flex;*/
        /*margin: 16px 103px;*/
        padding: 9px 25px;
        border-radius: 22px;
        font-size: 14px;
        line-height: 17px;
        margin-right: 0;
    }
    .latest_posts .container:first-child {
        text-align: center;
    }
    .latest_posts .headline-Latest_posts {
        margin: auto;
    }
    .latest_posts article {
        margin-bottom: 24px;
    }
    .latest_posts article:last-child {
        margin-bottom: unset;
    }
}

@media only screen and (min-width: 768px) {
    .latest_posts .description {
        padding: 24px 24px;
    }
}
@media only screen and (min-width: 801px) {
    .latest_posts .description {
        padding: 32px 24px;
    }
}
@media only screen and (max-width: 321px) {
    .latest_posts article {
        max-width: 100%;
    }
    .latest_posts .description {
        padding: 24px 24px;
    }
    .latest_posts article img {
        max-width: 100%;
    }
    .latest_posts .description p {
        max-width: 100%;
    }
    .latest_posts .description h4 {
        max-width: 100%;
    }
    .latest_posts .container {
        padding: 0 12px;
        box-sizing: border-box;
    }

    .latest_posts .container {
        display: block;
    }
    .latest_posts .button {
        /*display: flex;*/
        /*margin: 16px 103px;*/
        padding: 9px 25px;
        border-radius: 22px;
        font-size: 14px;
        line-height: 17px;
        margin-right: 0;
    }
    .latest_posts .container:first-child {
        text-align: center;
    }
    .latest_posts .headline-Latest_posts {
        margin: auto;
    }
    .latest_posts article {
        margin-bottom: 24px;
    }
    .latest_posts article:last-child {
        margin-bottom: unset;
    }
}
@media only screen and (max-width: 281px) {
    .latest_posts article {
        max-width: 100%;
    }
    .latest_posts article img {
        max-width: 100%;
    }
    .latest_posts .description p {
        max-width: 100%;
    }
    .latest_posts .description h4 {
        max-width: 100%;
    }
    .latest_posts .container {
        padding: 0 12px;
        box-sizing: border-box;
    }

    .latest_posts .container {
        display: block;
    }
    .latest_posts .button {
        /*display: flex;*/
        /*margin: 16px 103px;*/
        padding: 9px 25px;
        border-radius: 22px;
        font-size: 14px;
        line-height: 17px;
        margin-right: 0;
    }
    .latest_posts .container:first-child {
        text-align: center;
    }
    .latest_posts .headline-Latest_posts {
        margin: auto;
    }
    .latest_posts article {
        margin-bottom: 24px;
    }
    .latest_posts article:last-child {
        margin-bottom: unset;
    }
}