.best_sellers .container{
    text-align: center
}
.best_sellers{
    padding-bottom: 48px
}
.sellers{
    padding: 4px 12px;
    background-color: #EDEBF7;
    border-radius: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 14px;
    color: #3C2769
}
.sellers_description{
    max-width: 750px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    display: block;
    margin: auto;
    margin-bottom: 80px;
    color: #202939
}
.creme_holder{
    max-width: 395px;
    background: #F3F5F7;
    border-radius: 16px;
    padding: 45px 16px 24px
}
.creme_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: left;
    margin: 69px 0 24px;
    color: #202939
}
.creme_description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    display: block;
    color: #697586
}
.creme_price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #697586
}
.product_details_btn{
    padding: 17px 123.5px;
    background: #FFFFFF;
    border: 1px solid #CDD5DF;
    border-radius: 64px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    display: inline-flex;
    text-decoration: none;
    color: #202939
}
.product_details_btn:hover{
    background: #CF4D74;
    border: 1px solid #CF4D74;
    color: #FFFFFF;
    transition: 0.5s
}
@media only screen and (max-width: 1300px){
    .best_sellers .container{
        padding: 0 12px;
    }
    .creme_holder{
        max-width: 320px
    }
    .product_details_btn{
        padding: 17px 80px
    }
    .creme_main{
        justify-content: space-around;
    }
}
@media only screen and (max-width: 1024px) {
    .best_sellers .container{
        padding: 0 12px;
    }
    .creme_holder{
        max-width: 300px
    }
    .product_details_btn{
        padding: 17px 80px
    }
    .creme_price{
        font-size: 14px
    }
    .creme_description{
        font-size: 11px
    }
}
@media only screen and (max-width: 965px){
   .creme_holder{
        max-width: 220px
    }
    .product_details_btn{
        padding: 17px 61px;
        font-size: 13px
    }
    .creme_price{
        font-size: 12px
    }
    .creme_description{
        font-size: 11px;
        max-width: 100px;
    }
    .creme_text{
        margin: 24px 0
    }
}
@media only screen and (max-width: 780px){
    .creme_holder{
        max-width: 200px
    }
    .product_details_btn{
        padding: 17px 52px;
        font-size: 13px
    }
}
@media only screen and (max-width: 767px){
    .best_sellers{
        padding-bottom: 20px
    }
    .best_sellers .creme_main{
        display: inline-block
    }
    .sellers_description{
        margin-bottom: 30px
    }
    .creme_main{
        display: block
    }
    .creme_holder {
        max-width: 395px;
        margin-bottom: 20px;
    }
    .product_details_btn{
        padding: 17px 123.5px;
        font-size: 16px;
    }
    .creme_text{
        margin: 60px 0 24px 0
    }
}
@media only screen and (max-width: 600px){
    .sellers_description {
        max-width: none;
        font-size: 40px;
        line-height: 45px;
    }
}
@media only screen and (max-width: 420px){
    .product_details_btn{
        padding: 17px 95px;
        font-size: 16px;
    }
    .sellers_description {
        max-width: none;
        font-size: 35px;
        line-height: 40px;
    }
}
@media only screen and (max-width: 360px){
    .sellers_description {
        max-width: none;
        font-size: 30px;
        line-height: 32px;
    }
    .product_details_btn{
        padding: 17px 80px;
        font-size: 16px
    }
}
@media only screen and (max-width: 332px){
    .product_details_btn{
        padding: 17px 70px
    }
}