.main_banner{
    background: #EDEBF7;
    padding: 78px 0 64px;
    position: relative;
    overflow: hidden;
}

.main_banner p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #3C2769;
    margin-bottom: 37px;
    max-width: 554px;
}

.main_banner h1{
    margin-bottom: 28px;
    max-width: 472px;
}

.main_banner h5{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #3C2769;
    margin-bottom: 24px;
}

.main_banner_a_btn{
    display: inline-block;
    text-decoration: none;
    padding: 17px 33px;
    background: #FFFFFF;
    border: 1px solid #CDD5DF;
    border-radius: 64px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #202939;
    margin-right: 16px;
    margin-bottom: 209px;
}

.main_banner_a_btn:hover{
     background: #CF4D74;
     border: 1px solid #CF4D74;
     color: #FFFFFF;
     transition: 0.5s;
 }

.main_banner_a_btn:active{
    background: #CF4D74;
    border: 1px solid #CF4D74;
    color: #FFFFFF;
}

.main_banner_a_logo{
    margin-right: 32px;
}

.main_banner_img{
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    height: 790px;
    border-bottom-left-radius: 32px;
    background-image: url("../images/main_banner_img.jpg");
    background-size: cover;
}

.span_carousel_1{
    display: inline-block;
    padding: 24px 48px;
    background: #FFFFFF;
    border-radius: 64px;
    margin-left: 16px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #3C2769;
}

.main_banner .owl-carousel_1{
    width: 100vw;
    margin-top: 150px;
}

@media only screen and (max-width: 1312px) {
    .main_banner .container{
        padding: 0 16px;
    }
}

@media only screen and (max-width: 1200px) {
    .main_banner p{
        max-width: 448px;
    }

    .main_banner h1{
        max-width: 400px;
    }

    .main_banner_a_btn{
        margin-bottom: 179px;
    }
}

@media only screen and (max-width: 960px) {
    .main_banner p{
        max-width: 360px;
        margin-bottom: 32px;
    }

    .main_banner h1{
        max-width: 360px;
        margin-bottom: 24px;
    }

    .main_banner_a_btn{
        margin-bottom: 179px;
    }

    .main_banner_a_btn{
        margin-bottom: 179px;
    }

    .main_banner_a_logo{
        margin-right: 16px;
    }

    .main_banner_a_logo img{
        width: 96px;
    }

    .main_banner .owl-carousel_1{
        margin-top: 64px;
    }
}

@media only screen and (max-width: 768px) {
    .main_banner_img{
        position: static;
        height: 480px;
        width: 100%;
        border-bottom-right-radius: 32px;
    }

    .main_banner p{
        max-width: 448px;
        text-align: center;
        margin: auto;
        margin-bottom: 32px;
    }

    .main_banner h1{
        max-width: 400px;
        text-align: center;
        margin: auto;
        margin-bottom: 24px;
    }

    .main_banner_a_2btn{
        display: flex;
        justify-content: center;
    }

    .main_banner_a_btn{
        margin: 0 8px 80px;
    }

    .main_banner h5{
        text-align: center;
        margin-bottom: 24px;
    }

    .main_banner_a_logos{
        display: flex;
        justify-content: center;
    }

    .main_banner_a_logo{
        margin: 0 8px 64px;
    }
}

@media only screen and (max-width: 428px) {
    .main_banner{
        padding: 64px 0 48px;
    }

    .main_banner_a_btn{
        padding: 9px 21px;
    }

    .main_banner_a_logos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .main_banner_a_logo{
        margin: 0 0 24px;
    }

    .main_banner_a_logo:last-of-type{
        margin: 0 0 64px;
    }

    .span_carousel_1{
        display: inline-block;
        padding: 17px 33px;
        background: #FFFFFF;
        border-radius: 64px;
        margin-left: 16px;
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #3C2769;
    }

    .main_banner .owl-carousel_1{
        width: 100vw;
        margin-top: 48px;
    }
}
