
.how_it_works{
    padding: 160px 0;
}
.how_it_works .how_it_works_first p:first-of-type{
    margin: auto;
    padding: 4px 12px;
    background: #EDEBF7;
    border-radius: 24px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #3C2769;
    width: 124px;
}
.how_it_works .how_it_works_first h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: #202939;
    padding: 26px 0 28px 0;
}
.how_it_works .how_it_works_first p:last-of-type{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #697586;
    padding-bottom: 77px;
    max-width: 744px;
    margin: auto;
}
.how_it_works article {
    margin: auto;
    text-align: center;
    max-width: 317px;
}
.how_it_works article img{
    background: #EDEBF7;
    padding: 30px;
    border-radius: 50%;
}
.how_it_works article h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #202939;
    padding: 31px 0 26px;
}
.how_it_works article p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #4B5563;
}
@media only screen and (max-width: 835px) {
    .how_it_works .how_it_works_first h3{
        font-size: 40px;
        line-height: 50px;
    }
    .how_it_works article h4{
        font-size: 20px;
        line-height: 28px;
    }
    .how_it_works article p{
        font-size: 14px;
        line-height: 20px;
    }
    .how_it_works article {
        max-width: 260px;
    }
    }

@media only screen and (max-width: 429px) {
    .how_it_works article {
        min-width: 317px;
        margin: auto;
    }
    .how_it_works_second{
        display: block;
    }
    .how_it_works article:nth-child(2){
        padding: 50px 0;
    }
    .how_it_works .how_it_works_first h3{
        font-size: 40px;
        line-height: 50px;
    }

}
@media only screen and (max-width: 321px) {
    .how_it_works article {
        min-width: 296px;
        margin: auto;
    }
    .how_it_works .how_it_works_first h3{
        font-size: 36px;
        line-height: 40px;
    }
}